<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">
     <display-name>IRIXClient</display-name>

     <servlet>
         <servlet-name>IRIXClient</servlet-name>
         <servlet-class>de.intevation.irix.IRIXClient</servlet-class>
         <init-param>
             <param-name>irix-webservice-url</param-name>
             <!-- URL of the irix-webservice to use for uploads -->
             <param-value>http://localhost:8079/irix-webservice/upload-report</param-value>
         </init-param>
         <init-param>
             <param-name>print-url</param-name>
             <!-- Base URL of the mapfish-print service -->
             <!--<param-value>http://localhost:8080/print/</param-value>-->
             <param-value>http://test-docker-fr.lab.bfs.de:18086/bfs-printservice/print/</param-value>
         </init-param>
         <init-param>
             <!-- Suffix to add to the layout for map only output -->
             <param-name>map-layout-suffix</param-name>
             <param-value>_map</param-value>
         </init-param>
         <init-param>
             <!-- Suffix to add to the layout for legend only output -->
             <param-name>legend-layout-suffix</param-name>
             <param-value>_legend</param-value>
         </init-param>
         <init-param>
             <!-- keep request Headers -->
             <param-name>keep-request-headers</param-name>
             <param-value>true</param-value>
         </init-param>
         <init-param>
             <!-- Header for userid -->
             <param-name>user-header</param-name>
             <param-value>X-SHIB-user</param-value>
         </init-param>
         <init-param>
             <!-- Header for roles -->
             <param-name>roles-header</param-name>
             <param-value>X-SHIB-roles</param-value>
         </init-param>
         <init-param>
             <!-- Header for displayname -->
             <param-name>user-displayname-header</param-name>
             <param-value>X-SHIB-displayname</param-value>
         </init-param>
         <init-param>
             <!-- Roles from roles-header with access permission -->
             <param-name>roles-permission</param-name>
             <param-value>
                 irix
             </param-value>
         </init-param>
     </servlet>

     <servlet-mapping>
         <servlet-name>IRIXClient</servlet-name>
         <url-pattern>/IRIXClient</url-pattern>
     </servlet-mapping>

     <context-param>
         <param-name>log4j-properties</param-name>
         <param-value>/WEB-INF/log4j.properties</param-value>
     </context-param>

     <listener>
         <listener-class>de.intevation.irix.BaseServletContextListener</listener-class>
     </listener>
 </web-app>
